<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <loginuser>vkrishnan</loginuser>
      <loginpassword>Apptio.Ilink</loginpassword>
      <browser>chrome</browser>
      <connectionstring>sample</connectionstring>
      <projectfoldername>Apptio</projectfoldername>
      <url>http://localhost:5000/tbm</url>
      <testdatafoldername>Test_Data</testdatafoldername>
      <testdatafilename>Apptio_Testdata</testdatafilename>
      <Pageelementsfoldername>Page_Elements</Pageelementsfoldername>
      <Pageelementsfilename>Apptio_Pageelements</Pageelementsfilename>
      <Jsonfilefolder>Jsonfiles</Jsonfilefolder>
</configuration>
